body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive; /* Handwritten font */
  height: 100vh;
  display: none; /* Start hidden */
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.clipboard-container {
  position: relative;
  width: 350px;
  height: 480px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clipboard-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./img/clipboard.png') no-repeat center center;
  background-size: cover;
  z-index: 2;
}

.sheet {
  width: 230px;
  height: 360px;
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

.finished {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #555;
  font-size: 18px;
  width: 100%;
}

.title {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* To import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Style for tasks */
.task {
  display: flex;
  justify-content: space-between; /* Distribui o texto e o contador nas extremidades */
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
}

.counter {
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px; /* Afasta o contador do texto */
  white-space: nowrap; /* Impede a quebra de linha do contador */
  text-align: right; /* Alinha o contador à direita */
  flex-shrink: 0; /* Impede que o contador encolha */
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
